body {
	background-color: #f7f7f7;
	font-family: 'Roboto', sans-serif;
  }
/* Style untuk container utama */
.container {
	margin: 20px auto;
	width: 90%;
	max-width: 800px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style untuk judul "DAFTAR USER" */
  .user p {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  /* Style untuk tombol "Tambah User" */
  .user button {
	background-color: #4CAF50;
	color: #2c3e50;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: bold;
  }
  
  /* Style untuk link pada tombol "Tambah User" */
  .user a {
	color: white;
	text-decoration: none;
  }
  
  /* Style untuk tabel */
  table {
	width: 100%;
	border-collapse: collapse;
  }
  
  /* Style untuk header tabel */
  thead {
	background-color: #2c3e50;
	color: white;
  }
  
  /* Style untuk sel pada tabel */
  td, th {
	padding: 8px;
	text-align: left;
  }
  
  /* Style untuk sel pada kolom "Image" */
  td:nth-child(4) {
	text-align: center;
  }
  
  /* Style untuk gambar pada kolom "Image" */
  td:nth-child(4) img {
	width: 150px;
  }
  
  /* Style untuk link pada kolom "Edit" dan "Delete" */
  td:nth-child(5) a, td:nth-child(6) a, td:nth-child(7) a {
	color: #2c3e50;
	text-decoration: none;
	font-weight: bold;
  }
  
  /* Style untuk tombol "Log Out" */
  button {
	background-color: #ff3333;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
  }