body {
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
}

.container {
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	margin: 20px auto;
	max-width: 800px;
	padding: 20px;
	text-align: center;
}

.user {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 30px;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

th, td {
	border: 1px solid #e6e6e6;
	padding: 10px;
	text-align: left;
}

th {
	background-color: #333333;
	color: #ffffff;
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}